%div
.chat-sub
  .chat-sub__sub-header
    %p.chat-sub__sub-header__user-name 
      =current_user.name
    %ul.chat-sub__sub-header__user-menu
      %li.chat-sub__sub-header__user-menu__edit-user
        = link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.chat-sub__sub-header__user-menu__new-group
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'fa fa-cog'
  .chat-sub__groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .chat-sub__groups__group
          %p.chat-sub__groups__group--name
            = group.name
          %p.chat-sub__groups__group--message 
            = group.show_last_message 
.chat-main
  .chat-main__header
    .chat-main__header__group
      %h2.chat-main__header__group--name sample
      %ul.chat-main__header__group__member-list
        Member:
        %li.chat-main__header__group__member-list__member
          -@group.users.each do |user|
            = user.name
    .chat-main__header__edit-btn
      = link_to "Edit", edit_group_path(@group), class: 'chat-main__header__edit-btn__inside'
  .chat-main__messages
    = render partial: 'message', collection: @messages
  .chat-main__form
    .chat-main__form__new-message
      .chat-main__form__new-message__input-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'chat-main__form__new-message__input-box--text', placeholder: 'type a message'
          .chat-main__form__message--file
            = f.label :image, class: 'chat-main__form__new-message__input-box--image-label' do
              = fa_icon 'picture-o', class: 'fa fa-image'
              = f.file_field :image, class: 'chat-main__form__new-message__input-box--image-label--input'
          = f.submit 'Send', class: 'chat-main__form__new-message__submit-btn'